/* styles.css */

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    position: relative;
    top: -80px;
    margin-bottom: 20px;
}

.maintainer {
    display: flex;
    flex-direction: row;
}

.pdf-container {
    /* width: 80%; */
    padding: 0 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    /* 超出换行 */
    justify-content: center;
    /* 将元素居中对齐 */
}

.pdf-block {
    width: 100px;
    height: 200px;
    /* border: 1px solid #ccc; */
    margin: 5px;
    /* 减小元素之间的外边距 */
    margin-top: 50px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagination {
    margin-top: 20px;
}

footer {
    margin-top: 30px;
}

footer button {
    margin-right: 10px;
}

.cover {
    width: 120px;
    height: 100%;
}

.title {
    /* position: relative; */
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    margin-left: 4px;
    color: rgb(65, 191, 216);
}

.desc {
    position: relative;
    bottom: 30px;
}

.bt-col {
    display: flex;
    flex-direction: column;
}

.mb-2 {
    margin-bottom: 2em;
    /* You can adjust the value based on your preference */
}