/* styles.css */

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    /* margin-top: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    position: relative;
    /* top: -80px; */
    /* margin-bottom: 20px; */
}

h1 {
    color: gray;
    text-align: center;
    font-size: 50px;
    margin-bottom: -3px;
}

.maintainer {
    display: flex;
    flex-direction: row;
}

.pdf-container {
    /* width: 80%; */
    padding: 0 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    /* 超出换行 */
    justify-content: center;
    /* 将元素居中对齐 */
}

.pdf-block {
    width: 100px;
    height: 240px;
    /* border: 1px solid #ccc; */
    margin: 5px;
    /* 减小元素之间的外边距 */
    margin-top: 40px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #aaa;
    padding-top: 10px;
    transition: background-color 0.3s ease;
    /* 添加过渡效果，使颜色变化平滑 */
    position: relative;
    border-radius: 3%;
}

.pdf-block:hover {
    background-color: #ede8e8;
    /* 鼠标悬停时的背景颜色 */
}

.pagination {
    margin-top: 20px;
}

footer {
    margin-top: 30px;
}

footer button {
    margin-right: 10px;
}

.cover {
    height: 150px;
    border: 1px solid gray;
    position: absolute;
    top: 30px;
    /* 向下移动的距离 */
}

.title {
    /* position: relative; */
    /* display: flex; */
    /* align-items: flex-start; */
    color: rgb(65, 191, 216);
    /* bottom: 100px; */
    position: relative;
    top: 100px;
    /* 向下移动的距离 */
}

.desc {
    position: relative;
    /* bottom: 30px; */
    /* position: relative; */
    top: 70px;
    /* 向下移动的距离 */
}

.bt-col {
    display: flex;
    flex-direction: column;
}

.mb-2 {
    margin-bottom: 2em;
    /* You can adjust the value based on your preference */
}

.left {
    position: fixed;
    top: 68%;
    left: 1%;
}

.slider {
    height: 30px;
    width: 30px;
    overflow: hidden;
    margin-bottom: 20px;
}

.slider-img {
    height: 100%;
    width: 100%;
}

.slider-img:hover {
    background: rgb(231, 226, 226);
}

.upload-container {
    height: 300px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
    z-index: 9999;
    overflow: auto;
}

.upload-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
    height: 30%;
    width: 30%;
    z-index: 9999999;
}

.upload-bg {
    background: red;
}

.upload-img {
    width: 100px;
    height: 100px;
}